.footer {
  background-color: #245852;
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 74px;
    align-items: start;

    padding: 104px 0 144px;

    @media (max-width: 821px) {
      padding: 40px 0;
    }
  }

  &__nav {
  }

  &__list {
    display: flex;
    flex-direction: column;
    color: #fff;
    row-gap: 60px;
    li {
    }
  }
}

.logo {
}
.list {
  &__item {
  }
}
