.header {
  line-height: 1;

  &__top {
    height: 84px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #fff;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-bottom: 1px solid #d6d6d6;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 15px;

      width: 100%;
      max-width: 1400px;

      margin: 0 auto;
    }
  }

  &__nav {
  }

  &__list {
  }

  &__burger {
    display: none;
    @media (max-width: 821px) {
      --burger-width: 30px;
      --burger-height: 0px;
      --burger-color: #333;
      --burger-line-height: 4px;
      --burger-time-animation: 0.3s;

      display: block;

      right: 10px;

      width: var(--burger-width);
      height: var(--burger-height);
      position: relative;
      z-index: 3;

      & span {
        position: absolute;
        background-color: var(--burger-color);
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        top: 0px;
        transition: all var(--burger-time-animation) ease;
      }

      &::before,
      &::after {
        content: '';
        background-color: var(--burger-color);
        position: absolute;
        width: 100%;
        height: var(--burger-line-height);
        left: 0;
        transition: all var(--burger-time-animation) ease;
      }
      &::before {
        top: calc(var(--burger-line-height) * 2);
      }

      &::after {
        top: calc(var(--burger-line-height) * -2);
      }

      &.active:before {
        transform: rotate(45deg);
        top: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active:after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }

  &__signin {
    display: flex;
    column-gap: 35px;
    align-items: center;
    font-weight: 500;

    &.active {
      display: flex;
      flex-direction: column;
      position: fixed;
      bottom: 82px;
      right: 46px;
      row-gap: 30px;
      z-index: 2;
    }

    @media (max-width: 821px) {
      display: none;
    }
  }

  &__signin-sign {
    & a {
      color: inherit;
      transition: color 0.1s ease-in;

      &:hover {
        color: #0ea847;
      }
    }
  }
}

.list {
  display: flex;
  column-gap: 71px;

  @media (max-width: 1199px) {
    column-gap: 45px;
  }

  @media (max-width: 950px) {
    column-gap: 20px;
  }

  @media (max-width: 821px) {
    display: none;
  }

  &__item {
    & a {
      color: inherit;
      transition: color 0.2s ease-in;

      &:hover {
        color: #0ea847;
      }
    }
  }

  &.active {
    margin-top: 82px;
    padding-top: 30px;
    display: flex;

    width: 280px;
    height: calc(100vh - 82px);

    flex-direction: column;
    row-gap: 60px;
    align-items: center;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    -webkit-box-shadow: -7px 1px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -7px 1px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -7px 1px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.home {
  background: url('./../img/header/home-bg.jpg') 0px 84px no-repeat;
  height: 100vh;
  @media (max-width: 821px) {
    background: url('./../img/header/home-bg.jpg') 0px 13px no-repeat;
  }

  &__content {
    padding: 84px 0 30px;
    @media (max-width: 821px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    font-family: 'Georgia', sans-serif;
    padding-top: 175px;
    margin-bottom: 30px;
    font-weight: 700;
    max-width: 440px;
    font-size: 65px;
    line-height: 1.13;
    color: #01996d;

    @media (max-width: 821px) {
      font-size: 54px;
    }

    @media (max-width: 400px) {
      font-size: 43px;
    }
  }

  &__text {
    line-height: 1.5;
    max-width: 420px;
    margin-bottom: 53px;
  }
}

.logo {
}
